@import '../../styles/colors.scss';
@import '../../styles/main.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.header {
 @extend %flex_spaceb; 
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg;
  height: 64px;
  width: 100%;
  z-index: 10;
  transition: top 0.2s linear;
  margin: 0 auto;
  padding: 0 20.2rem;

  .left-header {
        @extend %flex_center;

    .logo {
      display: block;
      margin-right: 16px;
      height: 20px;
      width: 154px;
    }
      ul.nav-menu {
        display: flex;
        position: relative;

        li {
            display: flex;
          margin-right: 14px;

          a {
            padding: 0.5rem;
            cursor: pointer;
            color: $primary;
            font-weight: 600;
            text-decoration: none;

            
          }
          .option {
            color: #212529 ;
            display: block;
            padding: 4px 85px 7px 16px ;
            font-weight: 500 ;
            white-space: nowrap ;
            border-radius: inherit ;
          }
        }
      }
  }
  .right-header {
    display: flex;

    align-items: center;

    ul {
      display: flex;
      align-items: center;
      list-style-type: none;  

      li:first-child {
        margin: 0;
      }

      li {
        margin-left: 30px;

        a {
          color: $primary;
          font-weight: 600;
          text-decoration: none;

          img {
            display: block;
            height: 23px;
            width: 23px;
          }

          img.search-icon {
            display: block;
            height: 29px;
            width: 29px;
          }
        }

        div.trans-language {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #fff;
          border-radius: 3px;
          padding: 3px 5px;
          color: $primary;
          font-size: 0.9em;
          width: 28px;
          height: 26px;
            
          &:hover {
            background: $primary;
            color: $secondary;
          }
        }
      }
    }
}
}
.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $primary;
  border-radius: 4px ;

  display: none;
  padding: 0.5rem 0;
  width: 173.078px;
  height: 120px;
  overflow: visible;
  z-index: 10002;
  top: 40px;
  left: 0px;
  box-sizing: content-box;

}


.dropdown-movies:hover .dropdown-menu {
  display: block;
}

.dropdown-movies,
.dropdown-tvshow {
  position: relative;
  display: inline-block;
}

.dropdown-menu a:hover{
  background-color: #f8f9fa;
}

